/**
 * Add all your common class here.
 */

.center-wrapper {
  @include center-block;
}

.rtl {
	direction: rtl;
}

// extend bootstrap's bg-info etc.
@include bg-variant('.bg-plain', #ffffff);
@include text-emphasis-variant('.text-plain', $text-color);

.text-plain {
	
}

/* extend grid to have 1/5 columns */

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}