/**
 * Default content styles
 */

.content {
  img {
    max-width: none;
  }
  img.img-responsive,
  img.image-responsive{
    max-width: 100%;
    height: auto;
  }
}

.dv-hero-pane h4.pane-title {
  margin: 0;
  padding: 13px 17px;
  background: #f5f5f5;
  color: $gray-dark;
  @include box-shadow(0 2px 2px rgba(0,0,0,.3));
  @media(min-width: $grid-float-breakpoint-max) {
    position: absolute;
    z-index: 100;
    left: 50%;
    transform: translate(-50%, -40px);
  }
}

.dv-section {
	overflow: hidden;
}

.dv-content {
	position: relative;
	overflow: hidden;
	margin-top: 40px;
	margin-bottom: 40px;
	text-align: center;
}

.dv-link-local {
	border-bottom: 1px dotted $link-color;
}

.dv-col-centered {
	margin-left: auto;
	margin-right: auto;
	float: none;
}

/* background colors (apply anywhere) */

.dv-bg-main {
	background-color: #ffffff;
}

.dv-bg-alt {
	background: url(../img/bg-alt.jpg) left top repeat;
	background-color: #626262;
	color: #f5f5f5;
	h1, h2, h3, h4, h5 {
		color: #f5f5f5;
	}
}

.dv-shade-light {
	background: rgba(255,255,255,0.6);
	padding: 20px;
}

.dv-bg-alt-2 {
	background-color: #efefef;
}

.dv-bg-alt-3 {
	background-color: #6eb61f;
	color: #f5f5f5;
	h1, h2, h3, h4, h5 {
		color: #f5f5f5;
	}
	a:link, a:visited {
		color: #ffffcc;
	}
	a:hover, a:active {
		color: #fff;
	}
}

/* helper classes */

.dv-text-big {
	font-size: x-large;
}

.dv-border-right {
	border-right: 1px dotted #cfcfcf;
}

.dv-table-title {
	border-bottom: 1px solid #cfcfcf;
}

/* content images */
#dv-section-welcome {
	min-height:800px;
	position: relative;
}
#dv-section-welcome figure.dv-door-eco {
  background-image: url(img/bg22.jpg);
  background-size: 1600px 800px;
  position: absolute;
  width: 1600px;
  height: 800px;
  top: 0;
}

.dv-news-pane {

  img {
    max-width: 100%;
    height: auto;
   }
  .view-content.row {
    margin: 0 15px;
  }

	.pane-content {
		padding: 35px 0;
	}
	.dv-news-title {
		font-size: 16px;
	}
	.dv-news-date {}
	.dv-news-teaser {}
}

.dv-block-title {
	font-weight: 100;
}

// features list

.item-list .features-list,
.features-list .item-list {
	li {
		margin-left: 1em;
		padding-left: 24px;
		background: url(../img/b1-2.png) left top no-repeat;
	}
}

/* views more link */

.view .more-link a {
  @extend .btn;
  @extend .btn-sm;
  @extend .btn-primary;
}

/* block see also news */

.block-views {
	border-top: 1px solid #eee;
	margin: 10px 0;
	padding: 20px 0;
	h2 {
		font-size: 21px;
		margin: 0 0 21px;
	}
	.view-content.row {
		margin: 0;
	}
	.dv-news-title {
		font-size: 16px;
	}
}

.alert,
.achtung {
	color: #d82a13;
}

// owl carousel main (front) texts

.dv-shade-light {
  a {
    color: $text-color;

    &:hover {
      color: darken($text-color, 20%);
      text-decoration: none;
    }

  }
}

.dv-banner {
	&-image {
		max-height: 196px;
		overflow: hidden;
		img {
			max-width: none;
			height: auto
		}
      @media (min-width: $grid-float-breakpoint-max) {
        max-height: none;
      }
    }
}