/**
 * Default content styles
 */

.dv-hero-pane h4.pane-title {
	position: absolute;
	z-index: 100;
	padding: 4px 8px;
	left: 50%;
	transform: translate(-50%, -30px);
	background: white;
	@include box-shadow(0 2px 2px rgba(0,0,0,.3));
}

.dv-section {
	overflow: hidden;
}

.dv-content {
	position: relative;
	overflow: hidden;
	margin-top: 40px;
	margin-bottom: 40px;
	text-align: center;
}

.dv-col-centered {
	margin-left: auto;
	margin-right: auto;
	float: none;
}

/* background colors (apply anywhere) */

.dv-bg-main {
	background-color: #ffffff;
}

.dv-bg-alt {
	background: url(../img/bg-alt.jpg) left top repeat;
	background-color: #626262;
	color: #f5f5f5;
	h1, h2, h3, h4, h5 {
		color: #f5f5f5;
	}
}

.dv-bg-alt-2 {
	background-color: #efefef;
}


/* helper classes */

.dv-text-big {
	font-size: x-large;
}

.dv-border-right {
	border-right: 1px dotted #cfcfcf;
}

.dv-table-title {
	border-bottom: 1px solid #cfcfcf;
}

/* content images */
#dv-section-welcome {
	min-height:800px;
	position: relative;
}
#dv-section-welcome figure.dv-door-eco {
  background-image: url(img/bg22.jpg);
  background-size: 1600px 800px;
  position: absolute;
  width: 1600px;
  height: 800px;
  top: 0;
}