/**
 * OWL stuff
 */


.owl-carousel {
	
	.owl-controls {
		margin: 0;
	}
	.owl-item {
		margin-bottom: 40px;
	}
	.owl-buttons {
		.owl-next {
			position: absolute;
			top: 50%;
			right: 20px;
		}
		.owl-prev {
			position: absolute;
			top: 50%;
			left: 20px;
		}
  }
	.owl-pagination {
		position: absolute;
		bottom: 30px;
		left: 10%;
		right: 10%;
	}
}