
// general tweaks (site-specific)
html {height: 100%;}
body {
	min-height: 100%;
	background: $gray-lighter url(/sites/dverivizit.ru/themes/atk/img/bg.jpg) left top repeat;
}

// hack the fucking row/container problem

//.container, .container-fluid {
//	padding-left: 0;
//	padding-right: 0;
//}
.panels-ipe-editing {
	.row {
		margin-left:0; margin-right:0;
	}
}

#page {
	overflow: hidden;
}

.node-type-page #main {
	background: #fff;
}

#main-wrapper {
	margin-bottom: 0px;
	margin-top: 0px;
}
#footer-wrapper {
	border-top: 8px solid #859d8f;
	padding: 20px 0;
}

#content {
	img {
		max-width: none;
	}
	img.img-responsive {
		max-width: 100%;
		height: auto;
	}
}

/* eco - 91ce20  (b1d725)
optimum - 659dc0 (d7e5eb)
standart - 45a6d5 (47aad7)
prestige - ffc244 (ffcd4f)
luxe - 7764be (8873c8)
*/

.field-name-title-field {
	background: #c3c4b8;
	.page-title {
		@extend .container;
		margin-top: 0;
		margin-bottom:0;
		padding-top: 12px;
		padding-bottom: 12px;
		color: white;
		font-weight: 200;
		font-size: 36px;
	}
	.page-node-2 & { // standart
		background: #45a6d5;
	}
	.page-node-5 & { //luxe
		background: #7764be;
	}
	.page-node-4 & { //prestige
		background: #ffc244;
	}
	.page-node-3 & { //optimum
		background: #659dc0;
	}
	.page-node-6 & { //eco
		background: #91ce20;
	}
	
}

.dv-nav-secondary {
	// 2 level menu
	padding: 10px 0;
	ul {
//		margin: 0;
//		@extend .list-inline;
		
	}
}

.dv-nav-top {
	ul.menu {
		@extend .nav;
		@extend .nav-pills;
	}
}