
// general tweaks (site-specific)
html {height: 100%;}
body {
	min-height: 100%;
	background: $gray-lighter url(/sites/dverivizit.ru/themes/atk/img/bg.jpg) left top repeat;
}

#main-wrapper {
	margin-bottom: 0px;
	margin-top: 0px;
}
#footer-wrapper {
	border-top: 8px solid #859d8f;
	padding: 20px 0;
}

#content {
	overflow: hidden;
	img {
		max-width: none;
	}
}

/* eco - 91ce20  (b1d725)
optimum - cbdee7 (d7e5eb)
standart - 45a6d5 (47aad7)
prestige - ffc244 (ffcd4f)
luxe - 7764be (8873c8)
*/

.field-name-title-field {
	background: #efefef;
	.page-title {
		@extend .container;
		margin-top: 0;
		margin-bottom:0;
		padding: 15px 0;
	}
	.page-node-2 & {
		background: #45a6d5;
	}
}